*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 16px;
    background-color: white;
}

header{
    margin: 10px;
    padding: 5px;
}

header div h1{
    height: auto;
    text-align: center;
    font-size: 3em;
    font-family: "Brush Script MT", cursive;
    padding-top: 20px;
}

header div{
    background-color: #f2dea7;
    border-radius: 10px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

header nav{
    margin-top: 10px;
    padding: 5px;
    height: 70px;
    background-color: #f2d5a7;
    border-radius: 10px;
    display: flex;
    flex: 100%;
    
}

header nav ul{
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.3em;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

header nav ul li{
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 150px;
    flex: 1;
}

header nav ul li:last-child{
    margin-right: 0;
}

header nav ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 2.916em;
    border-radius: 10px;
    color: black;
}

header nav ul li a:hover{
    background-color: #ad8e5f;
    color: white;
}

main{
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    font-family: Copperplate, Papyrus, fantasy;
}

main article, aside{
    background-color: #fff2d5a7;
}

main aside{
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

main aside h2{
    width: 100%;
    height: auto;
    flex: 1;
}

main aside a{
    display: block;
    float: left;
    width: 50%;
}

main aside a:hover{
    opacity: 0.5;
}
main aside img{
    max-width: 100%;
}
main aside div{
    flex: auto;
}
main article{
    margin-top: 0;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

main article p{
    font-size: 20px;
    width: 100%;
}

main article img{
    display: block;
    margin: auto;
}
footer {
    background-color:#f2dea7;
    margin: 10px;
    padding: 5px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

footer ul{
    width: auto;
    height: auto;
    text-align: center;
    list-style-type: none;
}

footer ul li{
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
}

footer p{
    height: 100%;
    width: 100%;
    line-height: 5.625em;
    text-align: left;
    flex:1;
}